body
{
    margin:0px;
    padding:0px;
    background:black;

}

*
{
    font-family:'Play' ;
    box-sizing: border-box;
}
.content
{
    width:100vw;
    height:100vh;
    background-image: url(bg.jpg);
    background-size:cover;
    background-position:center;
}
@font-face {
    font-family: 'aurebeshmedium';
    src: url('/assets/aurebesh-webfont.eot');
    src: url('aurebesh-webfont.eot?#iefix') format('embedded-opentype'),
    url('aurebesh-webfont.woff2') format('woff2'),
    url('aurebesh-webfont.woff') format('woff'),
    url('aurebesh-webfont.ttf') format('truetype'),
    url('aurebesh-webfont.svg#aurebeshmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}


header.visible
{
    margin-top:0px;
}

header
{
    position:fixed;
    height:195px;
    padding-top:5px;
    padding-left:1vw;
    padding-right:1vw;
    background-color:rgba(0,0,0,0.8);
    width:80vw;
    margin-left:10vw;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    margin-top:-195px;
    transition:margin-top 1s ease-out;

}
.aurebesh{
    font-family:'aurebeshmedium';
    text-rendering:optimizeLegibility;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";
}
input:focus
{
    outline:none;
}
#translation
{




}
label
{
    padding-top:5px;
    padding-bottom:5px;
    color:rgba(250,250,250,0.4);
    font-family:'Play';
    display:block;
    clear:both;

}
button:focus
{
    outline:0;
    color:rgba(50,250,50,0.7);
    border: 2px solid rgba(50,250,50,0.4);
}
button
{
    margin-top:10px;
    background:rgba(255,255,255,0.2);
    border: 2px solid rgba(50,250,50,0.1);

    color:rgba(50,250,50,0.4);
    border-radius:5px;
    display:inline-block;
    padding-left:10px;
    padding-top:5px;
    padding-bottom:5px;
    font-size:20px;
    position:absolute;
    cursor:pointer;
    transition:all 0.5s ease;


}
img
{
    display:block;
    float:left;
}
.disabled
{
    opacity:0.3;

}
@-webkit-keyframes pulse {
    0% {    background-color:rgba(255,255,255,0.2); }
    50% {   background-color:rgba(255,255,255,0.4); }
    100% {   background-color:rgba(255,255,255,0.2); }
}
@keyframes pulse {
    0% {    background-color:rgba(255,255,255,0.2); }
    50% {   background-color:rgba(255,255,255,0.4); }
    100% {   background-color:rgba(255,255,255,0.2); }
}
.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;

    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;


    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}
button, input
{
    display:block;
    width:78vw;
    transition:all 0.5s ease;

}
input:hover, button:hover
{
    border:2px solid rgba(50,250,50,0.4);
}
input
{
    color:rgba(50,250,50,0.4);


    background-color:rgba(255,255,255,0.2);
    /*border-radius:15px;*/
    padding-left:10px;
    padding-right:10px;
    border:2px solid rgba(50,250,50,0.1);

    height:37px;
    /*width:40vw;*/
    /*position:fixed;*/
    padding:2px;
    font-size:30px;
    /*left:45%;*/
    /*margin-left:-20vw;*/
    /*top:17%;*/
    /*margin-top:-20px;*/
    /*height:40px;*/
}
footer a
{
    text-decoration:none;
    color: white;
}

footer
{
    width: 100%;
    color: white;
    position: fixed;
    bottom: 25px;
    padding-left: 3px;
    padding-right: 3px;
    text-align: right;
    font-size:12px;
    opacity: 0.6;
    right: 20px;
}
.share-buttons {
    float: left;
    position: fixed;
    left: 20px;
    bottom: 20px;
    opacity: 0.3;
    -webkit-filter: saturate(20%);
}
@media screen and (max-width: 1280px) {
    .content {
        background-image: url(bg720.jpg);
    }
}
@media screen and (max-width: 640px){
    .content
    {
        background-image: url(bg480.jpg);
    }
    header
    {
        width:100vw !important;
        margin-left:0;
    }
    button, input
    {
        width:98vw !important;
    }
    .share-buttons
    {
        display:none;
    }
}